
/*
Color palette :
https://colorhunt.co/palette/f5efe6e8dfcaaebdca7895b2
*/


body {
    margin: 0;
    text-align: center; /* will center everything inside that does not have width */
    font-family: "Merriweather", serif; /* monostyle : absolute symmetry */
}

h1 {
    margin-top: 0;
    font-family: "Sacramento", cursive;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-family: "Montserrat", sans-serif;
}


/************* Class *************/
.top-container {
    background-color: #F5EFE6;
    position: relative;
    padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.resize-img {
    height:50px;
    }